<div class="header">
  <div><%= image_tag 'logo.png' %></div>
  <div>
    <%= link_to 'new wine', new_wine_path %>
    <%= link_to 'cellar', wines_path %>
    <%= link_to 'merch', pages_merch_path %>
  </div>
</div>
