<div class="container">
  <div class="merch-img-container">
    <%= image_tag 'tote.png', class: 'logo' %>
  </div>
  <div class="merch-content">
    <h2>tote bag</h2>
    <p>perfect for carrying a couple of bottles</p>
    <a href="#", class="btn-primary"><strong>$35</strong></a>
  </div>
</div>
