.container {
  width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
}

.img-container {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.flex-container {
  width: 800px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 2rem;
}
