@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;700&display=swap');

$font-header: 'Cormorant Unicase', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
