@import url('https://fonts.googleapis.com/css2?family=Comme:wght@200;400;700&display=swap');

$font-header: 'Comme', sans-serif;
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 700;
