@import 'fonts';

.header {
  background-color: transparent;
  height: 60px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 50px;
  opacity: 0.6;
  transition: 0.3s ease-in;

  &:hover {
    opacity: 1;
  }
}

.header-item {
  text-decoration: none;
  font-family: $font-header;
  font-weight: $font-weight-light;
  color: black;
  margin-left: 40px;
  padding-bottom: 8px;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
}

.header-item:hover {
  opacity: 1;
  border-bottom: 2px solid black;
}
